body{
    margin: 0;
    padding: 0;
}

p{
    font-size: 1.4vw;
}

h1{
    font-family: 'Contrail One';
    font-size: 2vw;
}

h2{
    font-size: 1.7vw;
}

h3{
    font-size: 1.5vw;
}

img{
    max-width: 100%;
}

.body-box-1{
    order:1;
}

.body-box-2{
    order:2;
}

html{
    margin: 0;
    padding: 0;
}

/* Navbar */
nav li a{
    color: white;
    text-decoration: none;
    font-size: 1.5vw
}

nav li:hover{
    background-color: grey
}

#menu-icon{
    width: 60px;
    float: right;
    margin-right: 10px;
    display: none;
    position: relative;
}

#my-logo{
    width: 70px;
    float: left;
}

nav{
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color: rgba(41,43,44);
    display: block;
    z-index: 1;
}

#nav-links{
    width: 90%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#nav-links li{
    list-style: none;
    display: inline-block;
    padding: 30px;
    color: white;
}

/* Sections */

#sections{
    padding-top: 78px;
}

#sections > #home{
    height: 100vh;
}

/* Home */
#home{
    text-align: center;
    color: white;
    display: block;
    background-image: url("resources/images/me-intro2.jpg");
    background-color: black;
    background-size: 100vw 100vh;
    background-repeat: no-repeat; 
    background-position: center ;
    background-attachment: scroll;
    position: relative;
}

.home-container{
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.home-box-1{
    order: 1;
    
}

#intro{
    position: absolute;
    top: 20%;
    left: 60%;
}

#intro > h1{
    font-size: 2.5vw;
}

/* About Me */

#about-me{
    background-image: url('resources/images/about-me-background.png');
    position: relative;
    background-position: right center;
    height: 87vh;
    color: white;
}

#about-me > h1{
    position: absolute;
    top: 30%;

}

#about-me > p{
    word-wrap: break-word;
}

#my-image{
    width: 70%;
    height: 60%;
    border-radius: 100%;
}

.about-me-container{
    position: relative;
    top: 25%;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.about-box-1{
    order: 1;
    width: 40%;
    margin-left: 5%;
}

.about-box-2{
    order: 2;
    width: 50%;
}

.about-box-2 > h1{
    text-align: center;
}

.about-box-3{
    order:3;
}

/* Education */
#education{
    height: 87vh;
    background-color: rgba(97, 97, 97);
    color: white;
    position: relative;
}

.schools{
    height: 150px;
    width: 50%;
    display: block;
    border-radius: 100%;
    margin-left: 15%;
}

.flex-container-education{
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.education-box-1{
    margin-left: 5%;
    width: 30%;
    height: 30%;
    order: 1;
}

.education-box-2{
    width: 30%;
    height: 30%;
    order: 2
}   

.education-box-3{
    width: 30%;
    height: 30%;
    order: 3
}

#education > h1{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Skills */

#skills-languages{
    width: 100%;
    height: 87vh;
    background-image: url("resources/images/skills.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

#skills-languages-container{
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    
}

.skills-languages-box-1{
    order: 1;
    width: 30%;
    height:300px;
    border-radius: 5%;
    border: 5px solid black;
    background: rgb(241, 241, 241);
    position: relative;
}

.skills-languages-box-2{
    order: 2;
    width: 30%;
    height: 300px;
    border: 5px solid black;
    border-radius: 5%;
    background: rgb(241, 241, 241);
    position: relative;
}

.skills-languages-list{
    list-style-type: disc;
    display: block;
}

.skills-languages-list > li{
    font-size: 1.3vw;
}

.skills-languages-box-1 >h1, .skills-languages-box-2 > h1{
    text-align: center;
}

/* Project */
#projects{
    width: 100%;
    height: 87vh;
    background-color: rgba(170, 170,170);
}

#project-description{
    /* margin-top: -5%; */
}

#project-preview{
    position: relative;
    width: 70%;
    height: 200px;
    left: 50%;
    transform: translate(-50%, 0);
}

#projects button{
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

#projects > h1{
    margin-top: 0;
    position: relative;
    top: 2%;
    text-align: center
}

.flex-container-projects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-box-1{
}

.projects-box-2{
    text-align: center;
    width: 40%;
}

.projects-box-3{
    
}


/* footer */
footer{
    background-color: #CDCDCD;
    height: 200px;
    text-align: center;
    padding-top: 0px;
    width: 100%;
}

#contact > span{
    margin-right: 5%;
    font-size: 1.4vw;
    font-weight: bolder;
}

#logos{
    position: relative;
    top: 10px;
    padding-bottom: 2%;
}

.logo{
    width: 30px;
    height: 30px;
}

#my-logo-footer{
    height: 100px;
    width: auto;
    text-align: center;
}

/* Mobile view */

@media (max-width: 875px){
    .active{
        margin-top: 70px;
        display: block;
        /* margin-bottom: 70px; */
    }

    #nav-links{
        display: none;
    }

    #nav-links li{
        display: block;
        padding: 10px;
        border-width: 5px;
        box-sizing: border-box;
        border-color: white;
    }

    #nav-links li a{
        font-size: 10px;
    }

    #menu-icon{
        display: block;
    }

    #sections > section{
        height:100%;
        overflow: hidden;
    }

    #sections{
        padding-top: 65px;
    }


    .skills-languages-box-1{
        height: 80%;
    }

    .skills-languages-box-2{
        height: 80%;
    }


}